body,
html {
  height: 100%;
  width: 100%;
  font-family: "Helveticaneue", sans-serif;
  text-transform: uppercase;
  margin: auto;
}

body {
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 10%, #c7f9ed 50%, #c0faec 51%, #c0faec 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 10%, #c7f9ed 50%, #c0faec 51%, #c0faec 100%); /* Chrome10-25, sSafari5.1-6 */
  background: linear-gradient(to bottom, #fff 10%, #c7f9ed 50%, #c0faec 51%, #c0faec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#title,
#time {
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

#title {
  position: relative;
  top: 5rem;
  width: 100%;
  margin-top: 0;
}

#time {
  margin-top: 7rem;
}

.expired {
  color: rgb(232, 114, 115);
}

#start,
#reset {
  position: relative;
  left: -75px;
  width: 150px;
  height: 50px;
  font-family: "Helveticaneue", sans-serif;
  font-weight: 200;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
  margin-left: 50%;
  margin-bottom: 20px;
}

#start:focus,
#reset:focus { outline: none; }

#start:hover,
#reset:hover { font-size: 35px; }

#start:active,
#reset:active { top: 2px; }

#timelimit,
#confirm {
  font-family: "Helveticaneue", sans-serif;
  font-weight: 200;
  font-size: 17px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  margin-left: 50%;
  background-color: transparent;
  border: 1px solid black;
}

#timelimit {
  position: relative;
  left: -160px;
  width: 150px;
  height: 46.5px;
}

#confirm {
  position: relative;
  top: -70px;
  left: 10px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
}

#timelimit:focus,
#confirm:focus { outline: none; }

#confirm:active { top: -68px; }

#reached {
  position: relative;
  top: -10px;
  left: -178px;
  font-size: 15px;
  color: rgb(232, 114, 115);
  margin-left: -115px;
}
