body,
html {
  height: 100%;
  width: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  margin: auto;
}

body {
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 10%, #c7f9ed 50%, #c0faec 51%, #c0faec 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff 10%, #c7f9ed 50%, #c0faec 51%, #c0faec 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff 10%, #c7f9ed 50%, #c0faec 51%, #c0faec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
